In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import os

In [5]:
data_path = "SteamCharts.csv"

In [8]:
data = pd.read_csv(data_path, header=0)

print(type(data))
print(data)

<class 'pandas.core.frame.DataFrame'>
                               gamename  year      month        avg      gain  \
0      Counter-Strike: Global Offensive  2021  February   741013.24  -2196.42
1      Counter-Strike: Global Offensive  2021   January   743209.66  25405.91
2      Counter-Strike: Global Offensive  2020  December   717803.75  49049.17
3      Counter-Strike: Global Offensive  2020  November   668754.58  55087.89
4      Counter-Strike: Global Offensive  2020   October   613666.69   6816.37
...                                 ...   ...        ...        ...       ...
83784       Steel Division: Normandy 44  2017      July      421.60   -485.13
83785       Steel Division: Normandy 44  2017      June      906.74   -231.92
83786       Steel Division: Normandy 44  2017       May     1138.66    415.61
83787       Steel Division: Normandy 44  2017     April      723.05    720.21
83788       Steel Division: Normandy 44  2017     March        2.84       NaN

          peak avg_peak_perc
0      1123485      65.9567%
1      1124553      66.0893%
2      1164396       61.646%
3      1037464      64.4605%
4       943876      65.0156%
...        ...           ...
83784      987      42.7153%
83785     2584      35.0906%
83786     4606      24.7212%
83787     1911      37.8362%
83788       14      20.2857%

[83789 rows x 7 columns]

In [12]:
print(data.shape)
print(data.info())

(83789, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83789 entries, 0 to 83788
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gamename       83789 non-null  object
 1   year           83789 non-null  int64
 2   month          83789 non-null  object
 3   avg            83789 non-null  float64
 4   gain           82529 non-null  float64
 5   peak           83789 non-null  int64
 6   avg_peak_perc  83789 non-null  object
dtypes: float64(2), int64(2), object(3)
memory usage: 4.5+ MB
None

In [29]:
df = data.drop(columns =["gain", "peak", "avg_peak_perc"])

In [68]:
print(df.sort_values(by=['year','avg'], ascending=False).groupby("gamename").first().sort_values(by='avg', ascending=False).head(10))

data_biggest = pd.unique(df.sort_values(by=['year','avg'], ascending=False)['gamename'])

                                  year      month        avg
gamename
Counter-Strike: Global Offensive  2021   January   743209.66
Dota 2                            2021   January   432671.65
PLAYERUNKNOWN'S BATTLEGROUNDS     2021   January   201247.19
Rust                              2021   January   142117.25
Apex Legends                      2021  February   120982.64
Grand Theft Auto V                2021   January   101250.59
Team Fortress 2                   2021  February   101230.91
Cyberpunk 2077                    2021   January    82146.66
Tom Clancy's Rainbow Six Siege    2021   January    77717.42
ARK: Survival Evolved             2021   January    63160.05

In [69]:
top_games = data_biggest[:10]
print(top_games)

['Counter-Strike: Global Offensive' 'Dota 2'
 "PLAYERUNKNOWN'S BATTLEGROUNDS" 'Rust' 'Apex Legends'
 'Grand Theft Auto V' 'Team Fortress 2' 'Cyberpunk 2077'
 "Tom Clancy's Rainbow Six Siege" 'ARK: Survival Evolved']

In [73]:
data_top = []

for name in top_games:
    data_game = df[df["gamename"] == name]
    data_top.append(data_game)
    
print(data_top[9].shape)

print(type(data_top[9]))

print(data_top[9])

(70, 4)
<class 'pandas.core.frame.DataFrame'>
                  gamename  year       month       avg
747  ARK: Survival Evolved  2021   February   61785.58
748  ARK: Survival Evolved  2021    January   63160.05
749  ARK: Survival Evolved  2020   December   56324.05
750  ARK: Survival Evolved  2020   November   56425.60
751  ARK: Survival Evolved  2020    October   41760.00
..                     ...   ...         ...       ...
812  ARK: Survival Evolved  2015  September   35498.30
813  ARK: Survival Evolved  2015     August   45057.02
814  ARK: Survival Evolved  2015       July   46764.79
815  ARK: Survival Evolved  2015       June   42871.49
816  ARK: Survival Evolved  2015        May       5.28

[70 rows x 4 columns]